<div class="alert alert-warning alert-success fade show" role="alert">
    <ul class="navbar-nav">
        <li><a routerLink="/donating" class="nav-link" style="text-align: left; color: darkorange" routerLinkActive="active">Make a Donation</a></li><br>

    <li><a routerLink="/checkingdonation" class="nav-link" style="text-align:right; color: darkorange" routerLinkActive="active">Check your Donation Status</a></li>
    </ul>
</div>

<ul class="navbar-nav">
    <li><a routerLink="/logindonor" class="nav-link" style="text-align: center; color:navy;"
            routerLinkActive="active">Click Here to Logout</a></li>
</ul>
