<div class="alert alert-warning alert-success fade show" role="alert">
    <ul class="navbar-nav">
        <li><a routerLink="/requesters" class="nav-link" style="text-align: left; color: darkorange;"
                routerLinkActive="active">List of Blood
                Requests</a></li><br>

        <li><a routerLink="/donors" class="nav-link" style="text-align:right; color: darkorange;"
                routerLinkActive="active">List of Donation
                Requests</a></li>
    </ul>

</div>

<ul class="navbar-nav">
    <li><a routerLink="/logoutadmin" class="nav-link" style="text-align: center; color:navy;"
            routerLinkActive="active">Click Here to Logout</a></li>
</ul>



















<!--<h3 style="text-align: center;">List of Requests</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Requester Id</th>
            <th>Patient Name</th>
            <th>Required Blood Group</th>
            <th>City</th>
            <th>Doctor's Name</th>
            <th>Hospital Name and Address</th>
            <th>Date of Requirement</th>
            <th>Contact Name</th>
            <th>Contact Number</th>
            <th>Contact Email Id</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests | async">
            <td>{{request.requesterId}}</td>
            <td>{{request.patientName}}</td>
            <td>{{request.reqBloodGroup}}</td>
            <td>{{request.city}}</td>
            <td>{{request.doctorName}}</td>
            <td>{{request.hospitalName}}</td>
            <td>{{request.date}}</td>
            <td>{{request.contactName}}</td>
            <td>{{request.contactNumber}}</td>
            <td>{{request.contactEmail}}</td>
            <td>{{request.message}}</td>
            <td><span class="button is-small btn-info">Approve</span>
                <span class="button is-small btn-info">Reject</span></td>
        </tr>
    </tbody>
</table>-->