<header>
    <nav class="nav-bar navbar-expand-md navbar-dark bg-dark">
        <div><a href="" class="navbar-brand" style="color: wheat;">
                <h2>WELCOME TO BLOODBANK MANAGEMENT PORTAL</h2>
            </a></div>
        <ul class="navbar-nav">
            <li><a routerLink="register" class="nav-link" routerLinkActive="active">Register</a></li>

            <li><a routerLink="bloodavalibilty" class="nav-link" routerLinkActive="active">Check Blood Availability</a></li>

            <li><a routerLink="loginrequestor" class="nav-link" routerLinkActive="active">Request Blood and Check Status</a>
            </li>

            <li><a routerLink="logindonor" class="nav-link" routerLinkActive="active">Donate Blood and Check Status</a></li>

            <li><a routerLink="loginadmin" class="nav-link" routerLinkActive="active">Approve/Reject Request</a></li>

            <li><a routerLink="about" class="nav-link" routerLinkActive="active">About Us</a></li>
        </ul>
    </nav>
</header>
